<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Team Profile</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-5">
        <span class="navbar-brand mb-0 h1 w-100 text-center">Team Profile</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card mx-auto" style="width: 18rem">
                    <h5 class="card-header">Ryan Ellingson<br /><br />Engineer</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ID</li>
                        <li class="list-group-item">email</li>
                        <li class="list-group-item">GitHub</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>